---
import Layout from "../layouts/Layout.astro";
import EnglishGuide from "./EnglishGuide.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="English Guide">
  <main>
    <EnglishGuide />
  </main>
  <Footer />
</Layout>

<style>
  * {
    margin: 0;
  }
  main {
    grid-column: 2/2;
  }
</style>
