---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="#" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    background: radial-gradient(ellipse at center, #313833 0%, #000000 100%);

    display: grid;
    place-items: center;
    color: white;
    grid-template-columns: 1fr 3fr 1fr;
  }
</style>
